        body {
            background: url(../img/background.jpg);
            background-size: cover;
            color: #000;
        }

        .bg-color {
            background-color: #1D4379;
        }
        .bg-fadewhite{background-color: rgba(255,255,255,0.6)}
        .navbar {
            top: 30px;
        }

        .navbar-nav .nav-link {
            color: #fff !important;
            font-weight:bold;
        }


        .img-border {
            border: 10px solid #FFf;
            border: solid 10px #fff;
            background-color: #eed;
            box-shadow: 0 0 10px rgba(0,0,0,0.6);
        }
        a{color:#fff}
       p{padding: 1rem}
        .btn1 {
            background: #1D4379;
            background: -moz-linear-gradient(top, #1D4379, #1D4379);
            background: -webkit-gradient(top, #1D4379, #1D4379);
            background: -webkit-linear-gradient(top, #1D4379, #1D4379);
            background: -o-linear-gradient(top, #1D4379, #1D4379);
            background: -ms-linear-gradient(top, #1D4379, #1D4379);
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

            .btn1:hover {
                background: #3cb0fd;
                background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
                background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
                text-decoration: none;
            }

        .btn2 {
            background: #00fcd2;
            background-image: -webkit-linear-gradient(top, #00fcd2, #1d784f);
            background-image: -moz-linear-gradient(top, #00fcd2, #1d784f);
            background-image: -ms-linear-gradient(top, #00fcd2, #1d784f);
            background-image: -o-linear-gradient(top, #00fcd2, #1d784f);
            background-image: linear-gradient(to bottom, #00fcd2, #1d784f);
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

            .btn2:hover {
                background: #3cfcaf;
                background-image: -webkit-linear-gradient(top, #3cfcaf, #34d9c3);
                background-image: -moz-linear-gradient(top, #3cfcaf, #34d9c3);
                background-image: -ms-linear-gradient(top, #3cfcaf, #34d9c3);
                background-image: -o-linear-gradient(top, #3cfcaf, #34d9c3);
                background-image: linear-gradient(to bottom, #3cfcaf, #34d9c3);
                text-decoration: none;
            }

        .btn3 {
            background: #5bc737;
            background-image: -webkit-linear-gradient(top, #5bc737, #1d784f);
            background-image: -moz-linear-gradient(top, #5bc737, #1d784f);
            background-image: -ms-linear-gradient(top, #5bc737, #1d784f);
            background-image: -o-linear-gradient(top, #5bc737, #1d784f);
            background-image: linear-gradient(to bottom, #5bc737, #1d784f);
            font-family: Arial;
            color: #ffffff;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

            .btn3:hover {
                background: #91fa3c;
                background-image: -webkit-linear-gradient(top, #91fa3c, #34d939);
                background-image: -moz-linear-gradient(top, #91fa3c, #34d939);
                background-image: -ms-linear-gradient(top, #91fa3c, #34d939);
                background-image: -o-linear-gradient(top, #91fa3c, #34d939);
                background-image: linear-gradient(to bottom, #91fa3c, #34d939);
                text-decoration: none;
            }

        h5 {
            color: #1D4379;
        }

        .col-md-3 {
            border-left: 1px dotted #B2DBA1;
            border-right: 1px dotted #B2DBA1;
        }

        .list-group {
            border-top: 2px solid #1D4379;
        }

        .list-group-item {
            border-bottom: 1px dotted #B2DBA1;
            border-top: 1px dotted #B2DBA1;
            border-right: 0;
            border-left: 0;
            border-radius: 0;
            padding-left:0;
        }

            .list-group-item:first-child {
                border-top: 0;
            }

        .green {
            color: green;
        }

